@each $color in $primary-colors-list  {
  .#{nth($color, 1)} {
    .alert-success {
      a { @include hover-focus { color: lighten($brand-success, 10%); } }
      .btn-primary { @include button-variant($white, $brand-success, $brand-success); }
    }
    .alert-info {
      a { @include hover-focus { color: lighten($brand-info, 10%); } }
      .btn-primary { @include button-variant($white, $brand-info, $brand-info); }
    }
    .alert-warning {
      a { @include hover-focus { color: lighten($brand-warning, 10%); } }
      .btn-primary { @include button-variant($white, $brand-warning, $brand-warning); }
    }
    .alert-danger {
      a { @include hover-focus { color: lighten($brand-danger, 10%); } }
      .btn-primary { @include button-variant($white, $brand-danger, $brand-danger); }
    }
    .alert-gray, .alert-notice {
      a {
        color: nth($color, 2);
        @include hover-focus { color: lighten(nth($color, 2), 10%); }
      }
      .btn-primary { @include button-variant($white, nth($color, 2), nth($color, 2)); }
    }
  }
}
