@each $color in $primary-colors-list {
  .#{nth($color, 1)} {
    .c-checkbox {
      input:checked ~ .c-indicator {
        &:before { color: nth($color, 2); }
      }
    }
    .c-radio {
      input:checked ~ .c-indicator {
        &:before { color: nth($color, 2); }
      }
    }
    .c-input-image {
      input:checked ~ .c-indicator { border-color: nth($color, 2); }
    }
    .c-toggle {
      input:checked ~ .c-indicator {
        &:before {
          background-color: nth($color, 2) !important;
          border-color: nth($color, 2);
        }
        &:after { border-color: nth($color, 2); }
      }
    }
    .c-select { color: nth($color, 2); }
    .file input[type='file'] {
      &:focus { border-color: nth($color, 2); }
      &:after { color: nth($color, 2); }
    }
    .has-danger .c-input { color: $brand-danger; }
    .has-danger .c-select {
      color: $brand-danger;
      border-color: $brand-danger;
    }
  }
}
