@each $color in $primary-colors-list {
  .site-nav {
    .nav-item.#{nth($color, 1)} {
      .nav-link {
        &:hover, &.active, &[aria-expanded="true"] { border-color: nth($color, 2); }
      }
    }
  }
  .#{nth($color, 1)} {
    .nav-tabs {
      .nav-link {
        @include hover-focus { border-color: nth($color, 2);; }
      }
      .nav-link.active,
      .nav-item.open .nav-link {
        @include plain-hover-focus { border-color: nth($color, 2); }
      }
    }
  }
}