= ui.nfg :typeface, body: "Your import has completed. There were a total of #{ pluralize(import.number_of_records, "record")}"
- if (import.number_of_records_with_errors || 0) > 0
  = ui.nfg :typeface, body: "There were a total of #{ pluralize(import.number_of_records_with_errors, "record")} with errors."