= ui.nfg :illustration, :lg, image: 'nfg_csv_importer/illustrations/import-queued.png', alt: 'Import queued'
= ui.nfg :typeface, heading: 'Your import is now in the queue waiting to be processed.', class: 'my-3'
= ui.nfg :alert, :info, body: 'There are 5 imports ahead of yours.', dismissible: false
