= ui.nfg :illustration, :lg, image: 'nfg_csv_importer/illustrations/import-queued.png', alt: 'Import queued'
= ui.nfg :typeface, heading: 'Your import has been queued.', class: 'mt-3 mb-2'
= ui.nfg :typeface, body: "You have successfully created your import. It is sitting in the queue waiting to be processed. That will happen shortly."
