
.redacted-text{
  font-family: $redacted-font-family;
  @include rem(letter-spacing, -3px);
  @include rem(word-spacing, -3px);

  // Sets icons inline with the slightly unusual font size of the redacted content
  .fa{
    @include rem(top, 2px);
    position: relative;
  }

  // Re-sets .fa in the activity feed
  .activity-icon .fa{
    top:0;
    letter-spacing:0;
    word-spacing:0;
  }

  .c-indicator::after{
    color: $gray-dark;
    @include rem(top, -5px);
  }

  .avatar{
    background-color: #ccc;
  }

  .overlay-white{
    letter-spacing: normal;
    word-spacing: normal;
    font-family: $font-family-base;
    position:absolute;
    z-index:30;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(255,255,255,0.91);

    .fa{
      top:0;
    }
  }
  #empty_state_activity_feed{ display: none; } // hide button on the activity feed
}
