
.row-listing{
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: solid 1px #D8D8D8;

  .text-muted{
    color: #e0e0e0 !important;
  }

  .btn-link.disabled{
    &,
    .fa{
      opacity: 1 !important;
      color: #e0e0e0 !important;
      @include hover-focus{
        background-color: transparent;
      }
    }
  }
}


.row-listing-header{
  small{
    font-size: 12px;
  }
  color: #9a9a9a;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}
