//
// Base styles
//

.btn {
  // display: inline-block;
  // font-weight: $btn-font-weight;
  // text-align: center;
  // white-space: nowrap;
  // vertical-align: middle;
  // cursor: pointer;
  // user-select: none;
  // border: $input-btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  // @include transition(all .2s ease-in-out);
  outline: none !important;

  // &,
  // &:active,
  // &.active {
  //   &:focus,
  //   &.focus {
  //     @include tab-focus();
  //   }
  // }

  @include hover-focus { @include box-shadow(none); }
  // &.focus {
  //   text-decoration: none;
  // }

  &:active,
  &.active {
    // background-image: none;
    // outline: 0;
    @include box-shadow(none);
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    cursor: $cursor-disabled;
    pointer-events: none;
    opacity: .4;
    @include box-shadow(none);
  }

  #{$icon} {
    @include transition(all .2s ease-in-out);
    &.margin-right { @include rem(margin-right, $spacer-quarter); }
    &.margin-left { @include rem(margin-left, $spacer-quarter); }
  }
}

// // Future-proof disabling of clicks on `<a>` elements
// a.btn.disabled,
// fieldset[disabled] a.btn {
//   pointer-events: none;
// }

//
// Alternate buttons
//

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  #{$icon} { color: $white; }
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  @include hover {
    background-color: $bg-color-lightest !important;
    color: $font-color-primary !important;
    border-color: $border-color-light !important;
    #{$icon} { color: $font-color-primary !important; }
  }
  &.active {
    background-color: $bg-color-lightest !important;
    color: $font-color-primary !important;
    border-color: $border-color-light !important;
    #{$icon} { color: $font-color-primary !important; }
  }
}
// .btn-info {
//   @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
// }
// .btn-success {
//   @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
// }
// .btn-warning {
//   @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
// }
// .btn-danger {
//   @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
// }

// // Remove all backgrounds
// .btn-primary-outline {
//   @include button-outline-variant($btn-primary-bg);
// }
// .btn-secondary-outline {
//   @include button-outline-variant($btn-secondary-border);
// }
// .btn-info-outline {
//   @include button-outline-variant($btn-info-bg);
// }
// .btn-success-outline {
//   @include button-outline-variant($btn-success-bg);
// }
// .btn-warning-outline {
//   @include button-outline-variant($btn-warning-bg);
// }
// .btn-danger-outline {
//   @include button-outline-variant($btn-danger-bg);
// }


//
// Link buttons
//

// // Make a button look and behave like a link
.btn-link {
  font-weight: $btn-font-weight;
  // color: $link-color;
  // border-radius: 0;

  // &,
  // &:active,
  // &.active,
  // &:disabled {
  //   background-color: transparent;
  //   @include box-shadow(none);
  // }
  // &,
  // &:focus,
  // &:active {
  //   border-color: transparent;
  // }
  // @include hover {
  //   border-color: transparent;
  // }
  #{$icon} { color: inherit; }
  @include hover-focus {
    // color: $gray-dark;
    // text-decoration: $link-hover-decoration;
    background-color: $bg-color-lightest;
    #{$icon} { color: inherit; }
  }
  // &:disabled {
  //   @include hover-focus {
  //     color: $btn-link-disabled-color;
  //     text-decoration: none;
  //   }
  // }
}


//
// Button Sizes
//
.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}
.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-xl, $btn-line-height-xl, $btn-border-radius-xl);
}


// //
// // Block button
// //

// .btn-block {
//   display: block;
//   width: 100%;
// }

// // Vertically space out multiple block buttons
// .btn-block + .btn-block {
//   margin-top: 5px;
// }

// // Specificity overrides
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   &.btn-block {
//     width: 100%;
//   }
// }


// Circle buttons (currently used on empty state dashboard)
.btn-circle {
  width: 140px;
  height: 140px;
  color: $white !important;
  border-radius: 50% !important;
  @include box-shadow(0px 0px 40px 0px rgba(0, 0, 0, 0.3));
  &.disabled {
    background-color: transparentize($bg-color-white, 0.6);
    color: $green-primary !important;
    pointer-events: none;
    #{$icon} { color: $green-primary !important; }
  }
  #{$icon} {
    @include rem(margin-top, 30px);
    color: $white;
  }
}

// White buttons
.btn-white-bg {
  color: $font-color-primary;
  background-color: $white;
  border-color: $white;

  @include hover { color: $white; }

  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $white;
    background-image: none;
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    opacity: .4;
  }
}
.btn-white-outline {
  color: $white;
  background-image: none;
  background-color: transparent;
  border-color: $white;

  @include hover { color: $white; }

  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $white;
  }
}
