// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

// .nav {
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none;
// }

// .nav-link {
//   display: inline-block;

//   @include hover-focus {
//     text-decoration: none;
//   }

//   // Disabled state lightens text and removes hover/tab effects
//   &.disabled {
//     color: $nav-disabled-link-color;

//     @include plain-hover-focus {
//       color: $nav-disabled-link-hover-color;
//       cursor: $cursor-disabled;
//       background-color: transparent;
//     }
//   }
// }


// Nav inline

// .nav-inline {
//   .nav-item {
//     display: inline-block;
//   }

//   .nav-item + .nav-item,
//   .nav-link + .nav-link {
//     margin-left: 1rem;
//   }
// }


//
// Tabs
//

// .nav-tabs {
//   border-bottom: 1px solid $nav-tabs-border-color;
//   @include clearfix();

//   .nav-item {
//     float: left;
//     // Make the list-items overlay the bottom border
//     margin-bottom: -1px;

//     + .nav-item {
//       margin-left: .2rem;
//     }
//   }

//   .nav-link {
//     display: block;
//     padding: $nav-link-padding;
//     border: $nav-tabs-link-border-width solid transparent;
//     @include border-radius($border-radius $border-radius 0 0);

//     @include hover-focus {
//       border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
//     }

//     &.disabled {
//       @include plain-hover-focus {
//         color: $nav-disabled-link-color;
//         background-color: transparent;
//         border-color: transparent;
//       }
//     }
//   }

//   .nav-link.active,
//   .nav-item.open .nav-link {
//     @include plain-hover-focus {
//       color: $nav-tabs-active-link-hover-color;
//       background-color: $nav-tabs-active-link-hover-bg;
//       border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
//     }
//   }
// }


//
// Pills
//

// .nav-pills {
//   @include clearfix();

//   .nav-item {
//     float: left;

//     + .nav-item {
//       margin-left: .2rem;
//     }
//   }

//   .nav-link {
//     display: block;
//     padding: $nav-link-padding;
//     @include border-radius($nav-pills-border-radius);
//   }

//   .nav-link.active,
//   .nav-item.open .nav-link {
//     @include plain-hover-focus {
//       color: $component-active-color;
//       cursor: default;
//       background-color: $component-active-bg;
//     }
//   }
// }

.nav-stacked {
  // .nav-item {
  //   display: block;
  //   float: none;

  //   + .nav-item {
  //     margin-top: .2rem;
  //     margin-left: 0;
  //   }
  // }
  &.nav-pills {
    .nav-item {
      font-weight: $font-weight-medium;
      @include rem(font-size, 14px);
      line-height: 18px;
      + .nav-item { margin-top: 0; }
    }
    .nav-link {
      @include clearfix();
      @include rem(padding, 15px $nav-link-padding);
      color: $white !important;
      vertical-align: middle;
      background-color: transparent;
      border-left: 4px solid transparent;
      @include transition(background-color .15s linear, border .15s linear);
      &:hover, &.active, &[aria-expanded="true"] {
        color: $nav-pills-active-link-hover-color;
        cursor: pointer;
        background-color: $nav-pills-active-link-hover-bg;
      }
      #{$icon} {
        color: $white !important;
        line-height: 18px;
      }
    }
  }
  &.nav-sub-menu {
    .nav-link {
      @include rem(padding-top, $nav-link-padding);
      @include rem(padding-bottom, $nav-link-padding);
      @include rem(font-size, 12px);
      background-color: darken($blue-quaternary, 13%);
      &:hover, &:focus, &.active {
        background-color: darken($blue-quaternary, 17%);
      }
    }
  }

}


//
// Tabbable tabs
//

// Hide tabbable panes to start, show them when `.active`
// .tab-content {
//   > .tab-pane {
//     display: none;
//   }
//   > .active {
//     display: block;
//   }
// }


//
// Dropdowns
//

// .nav-tabs .dropdown-menu {
//   // Make dropdown border overlap tab border
//   margin-top: -1px;
//   // Remove the top rounded corners here since there is a hard edge above the menu
//   @include border-top-radius(0);
// }

//
// Site Nav
//
.site-nav {
  position: fixed;
  top: 0;
  @include rem(width, 200px);
  height: 100%;
  background-color: $blue-quaternary;
  -webkit-overflow-scrolling: touch;
  @include transition(all .15s linear);
  @include media-breakpoint-down(md) {
    @include rem(left, -200px);
    opacity: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-up(lg) {
    left: 0;
    z-index: 30;
    padding-bottom: 55px;
  }

  // Slide styles
  &.nav-slide {
    @include media-breakpoint-down(md) {
      left: 0;
      opacity: 1;
      z-index: 30;
      overflow-x: visible;
      overflow-y: auto;
    }
  }
  .btn { @include border-radius(0); }
}
