/*******************************
IE BUGS & FIXES
*******************************/


/**
Fixing issue with padding on select fields
**/
select {
  padding-left: 10px;
  padding-right: 10px;
  background-image: none;
}
input[type='file'] {
  padding: 0;
  border: none;
}
