= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { framed: false } do |f|
  %iframe{ id: 'edit_import_iframe', frameborder: '0', width: '100%', height: '1150', src: nfg_csv_importer.edit_import_path(import, iframe: 1) }

= provide :after_opening_body, onboarder_presenter.render_google_tag_manager
