= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { framed: false } do |f|
  %iframe{ id: 'edit_import_iframe', frameborder: '0', width: '100%', height: '1150', src: edit_import_path(import, iframe: 1) }
