= render layout: 'onboarding/sub_layout', locals: { header_message: t('.header.message'), header_page: t('.header.page', default: ''), header_form: t('.header.form'), guidance: t('.guidance.modal', default: '')} do |f|

  - file_origination_types.each do |file_origination_type|
    = render partial: 'nfg_csv_importer/imports/pre_processing/pre_processing_choices_radio_buttons', locals: { f: f, pre_processing_type: file_origination_type }
