= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message'), header_page: t('.header.page', default: ''), header_form: t('.header.form'), guidance: t('.guidance.modal', default: '')} do |f|

  = file_origination_type.skip_steps

  See commented HTML - This step is only visible by sysadmins currently (and additional logic around amount of import types).
  -# Only visible by sysadmins
  -# Unsure how to get this page to "really" work - import_definitions on the index doesn't come over so easily here.

  -#
    / #import_type_row.row.m-t-1{ data: { show_hide: "hide" } }
    /   - import_definitions.each do |import_type, definition|
    /     %div{ class: import_type_column_structure_classes, id: import_type }
    /       .card.flex-1.m-b-2
    /         .card-block
    /           %h4.card-title.m-b-1= t("jumbotron.import_types", scope: language_scope, import_type: import_type.to_s.pluralize.titleize)
    /           .card-text.m-b-1
    /             = simple_format(definition.headline)
    /           = link_to nfg_csv_importer.new_import_path(import_type: import_type.to_s), class: "btn btn-primary", id: "begin_import_#{ import_type }" do
    /             = fa_icon "chevron-right", text: t("links.begin_import", scope: language_scope), right: true
