= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message'), header_page: t('.header.page', default: ''), header_form: t('.header.form'), guidance: t('.guidance.modal', default: '')} do |f|

  -# JR to do:
  -# migrate nfg_csv_importer/app/views/nfg_csv_importer/imports/new.html.haml to here
  -# Bringing over the column header definitions & examples -- and the validation rules information.

