= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message', file_origination_type: file_origination_type.name), header_page: t('.header.page', file_origination_type: file_origination_type.name, description_of_files: "they come in a 'package' and look like this: some_filename.csv"), header_form: t('.header.form'), guidance: t('.guidance.modal', default: '')} do |f|

  .row
    .col-9
      = f.input :import_file, as: :file
    .col-3
      -# Add file does not yet work; not sure how we're handling this (using rails 5.2 activestorage technique or something else)
      -# = ui.nfg :button, :secondary, body: 'Add File', icon: 'plus'
