%row
  %columns
    %p Dear #{@recipient.name},
    %p Your import with id #{@import.id} has been successfully deleted.
    %spacer{ size: spacer(:base) }
    %p
      Do good. Feel Good.
      %br/
      = '- Network for Good'
