// Content section styles
  .content-section-wrapper, .content-section {
    position: relative;
    width: 100%;
    line-height: 1.4;
    .redactor-box {
      z-index: 50;
      .redactor-editor {
        padding: 0;
        min-height: $spacer-base;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        border: none;
        @include box-shadow(0 0 10px transparentize($black, 0.8));
      }
    }
  }
  // Hovering content section idea to show the entire content-section is clickable to edit once clicked
  // .content-section-wrapper {
  //   @include transition(outline .15s linear);
  //   &:hover { cursor: pointer; }
  //   .redactor-box, &:hover { outline: 1px dashed $brand-primary; }
  // }
  .cs-edit, .cs-btn-group {
    position: absolute;
    top: -$spacer-half;
    left: -$spacer-half;
  }
  .cs-edit, .cs-rm-group, .cs-add-group {
    color: $white !important;
    background-color: $brand-primary;
    text-decoration: none !important;
    opacity: 0.8;
    z-index: 100;
    @include transition(opacity .15s ease-in-out);
    @include hover-focus-active {
      color: $white;
      opacity: 1;
    }
  }
  .cs-form, .cs-html-editor-undo { display: none; }
  .cs-html-editor-overlay {
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include rem(margin-bottom, 10px);
    min-width: 200px;
    width: 430px;
    text-align: center;
    z-index: 120;
    @include media-breakpoint-down(xs) { max-width: 100%; }
    &[data-for='header_text'] {
      top: 100%;
      bottom: auto;
      width: 200px;
      .redactor-toolbar-external {
        &:after, &:before { display: none; }
      }
    }
    .cs-html-editor-buttons, .cs-html-editor-toolbar { left: -50%; }
    .cs-html-editor-buttons {
      z-index: 100;
      a {
        display: inline-block;
        @include rem(padding, $btn-padding-y $btn-padding-x);
        @include rem(font-size, $btn-font-size);
        line-height: $btn-line-height;
        color: $font-color-primary;
        text-align: center;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 0;
        text-decoration: none;
        border-radius: $btn-border-radius $btn-border-radius 0 0;
        @include hover-focus-active {
          background: $brand-primary;
          color: $white;
        }
        &.cs-html-editor-save {
          color: $white;
          background-color: $brand-primary;
          @include hover-focus-active { background-color: lighten($brand-primary, 10%); }
        }
        + a[class^='cs-html-editor-'] { @include rem(margin-left, $spacer-quarter); }
      }
    }
    .cs-html-editor-toolbar { z-index: 50; }
  }
  .redactor-toolbar {
    position: relative;
    &.redactor-toolbar-external {
      border-color: $border-color-primary;
      border-radius: $border-radius;
      @include box-shadow(0 0 10px transparentize($black, 0.8));
      &:after, &:before {
        display: block;
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: $white;
        border-width: 6px;
        margin-left: -6px;
      }
      &:before {
        border-color: rgba(216, 216, 216, 0);
        border-top-color: $border-color-primary;
        border-width: 7px;
        margin-left: -7px;
      }
    }
    li a {
      color: $font-color-primary;
      &.re-icon {
        .body-text { font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important; }
      }
      @include hover-focus-active {
        color: $white;
        background-color: $brand-primary;
      }
    }
  }
  .redactor-dropdown {
    a[class^="redactor-dropdown-"] {
      color: $font-color-primary;
      @include hover-focus-active {
        color: $white;
        background-color: $brand-primary;
      }
    }
  }
  .cs-hidden-editor-container {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
  }
