// Sidebar editing bar
  .sidebar {
    position: fixed;
    top: 0;
    background-color: $white;
    z-index: 110;
    @include clearfix();
    box-sizing: border-box;
    @include media-breakpoint-down(lg) {
      left: 0;
      width: 100%;
      border-bottom: $border-width solid $border-color-primary;
      overflow-y: auto;
    }
    @include media-breakpoint-up(xl) {
      right: 0;
      width: 350px;
      height: 100%;
      border-left: $border-width solid $border-color-primary;
    }
    h6, .h6 {
      margin: 0;
      font-weight: $font-weight-medium;
      @include rem(font-size, $font-size-h6);
      line-height: 1.3;
    }
    * {
      vertical-align: baseline;
      box-sizing: inherit;
      &:before, &:after {
        margin: 0;
        padding: 0;
      }
    }
  }

.page-wrap {
  position: relative;
  width: 100%;
  @include media-breakpoint-up(xl) { @include rem(padding-right, 350px); }
  &.no-sidebar {
    @include rem(margin-top, $spacer-base);
    padding-right: 0;
    @media print { margin: 0 !important; }
  }
}
