<div class="nfg-csv-importer" data-unmapped-highlight='<%= highlight_status %>'>
  <div id="importer_errors">
  </div>
  <a class="horizontal-scroll-btn" data-horizontal-scroll-button="left" href="javascript:;">
    <i class="fa fa-arrow-circle-left"></i>
  </a>
  <a class="horizontal-scroll-btn" data-horizontal-scroll-button="right" href="javascript:;">
    <i class="fa fa-arrow-circle-right"></i>
  </a>
  <div id="columns_wrapper">
    <div class="container-importer">
      <form id="fields_mapping" class="edit_import">
        <div class="row row-no-wrap">
        </div>
      </form>
      Columns go here
    </div>
  </div>
</div