<div class="nfg-csv-importer" data-unmapped-highlight='<%= highlight_status %>'>
  <div id="importer_errors">
  </div>
  <div id="columns_wrapper">
    <div class="container-importer">
    Hello World
    </div>
  </div>
</div