<a class="text-glow" href="javascript:;">
  <span id="turn_highlights_on">
    <i class="fa fa-lightbulb-o text-white"></i>
    <strong>
      Highlight Columns
    </strong>
  </span>
  <span id="turn_highlights_off" style="display: none;">
    <i class="fa fa-eye-slash text-white"></i>
    <strong>
      Turn Highlight Off
    </strong>
  </span>
</a>