-# ex: 'user' or 'donation'
- humanize = local_assigns[:humanize]
- onboarder_presenter = local_assigns[:onboarder_presenter]

= ui.nfg :card, class: 'mt-2' do
  -# The headline of the card (e.g.: User's name or the donation amount)
  - details.each do |label, value|
    %strong
      #{label}:
    = value
    %br