@each $color in $primary-colors-list  {
  .#{nth($color, 1)} {
    // .btn-primary { @include button-variant($white, nth($color, 2), nth($color, 2)); }
    // .btn-secondary { @include button-variant(nth($color, 2), $white, $gray-light); }
    // .btn-link { color: nth($color, 2) !important; }

    // // Add border to primary button siblings
    // .btn-group, .btn-toolbar {
    //   .btn-primary + .btn-primary { border-left: solid $input-btn-border-width darken(nth($color, 2), 8%) !important; }
    // }
    // .btn-primary + .btn-group {
    //   .btn-primary { border-left: solid $input-btn-border-width darken(nth($color, 2), 8%) !important; }
    // }

    // // Dropdown specific styles
    // .open {
    //   .btn-primary[data-toggle='dropdown'] {
    //     @include button-variant($btn-primary-color, lighten(nth($color, 2), 8%), lighten(nth($color, 2), 8%));
    //   }
    // }

    // White buttons
    .btn-white-bg {
      color: nth($color, 2);

      @include hover {
        background-color: lighten(nth($color, 3), 7%);
            border-color: lighten(nth($color, 3), 7%);
      }

      &:focus,
      &.focus,
      &:active,
      &.active {
        background-color: lighten(nth($color, 3), 7%);
            border-color: lighten(nth($color, 3), 7%);
      }
    }

    // .btn-white-outline {
    //   &:focus,
    //   &.focus,
    //   &:active,
    //   &.active {
    //     background-color: lighten(nth($color, 3), 7%);
    //         border-color: lighten(nth($color, 3), 7%);
    //   }
    //   @include hover {
    //     background-color: lighten(nth($color, 3), 7%);
    //         border-color: lighten(nth($color, 3), 7%);
    //   }
    // }

  }

  // // Circle buttons
  // .btn-circle-#{nth($color, 1)} {
  //   background-color: nth($color, 2);
  //   @include hover-focus { background-color: lighten(nth($color, 2), 8%); }
  // }
}
