@each $color in $primary-colors-list {
  .#{nth($color, 1)} a,
  a.#{nth($color, 1)},
  a.text-#{nth($color, 1)} {
    &:not(.btn):not(.dropdown-item) {
      color: nth($color, 2);
      @include hover-focus { color: nth($color, 3); }
    }
    // &.no-link-color {
    //   color: inherit !important;
    //   @include hover-focus { color: nth($color, 3) !important; }
    // }
  }
}
