<!DOCTYPE html>
<html>
<head>
  <title>NfgCsvImporter</title>
  <%= stylesheet_link_tag    "nfg_csv_importer/application", media: "all" %>
  <%= javascript_include_tag "nfg_csv_importer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
