// You can pass in any icon, in this instance, fa-external-link:
// =link_to user_path(user), target: '_blank', class: "hover-fa fa fa-external-link" do
//   = user.name

a,
button,
input[type='submit']{

  &.hover-fa{
    display:inline-block;
    position:relative;
    padding-right: 20px;

    &[class*="fa-"]{
      &:before{
        position:absolute;
        right: 0;
        display:none;
        opacity: 0;
      }
    }

    &:hover{
      &[class*="fa-"]{
        &:before{
          display: inline-block;
          opacity: 1;
        }
      }
    }
  }
}
