// Tasks specific styles

.tasks {
  + .tasks {
    @include rem(margin-top, $spacer-base);
    &.hidden-xs-up + .tasks { @include rem(margin-top, $spacer-base); }
  }
  &.hidden-xs-up + .tasks { margin-top: 0; }
  &.hidden-xs-up + &.hidden-xs-up + .tasks { margin-top: 0; }
}
.task-completed {
  .avatar { opacity: 0.5; }
  .media-body {
    color: $font-color-tertiary;
    @include transition(color .2s ease-in-out);
    a {
      color: $font-color-tertiary !important;
      @include transition(color .2s ease-in-out);
    }
  }
  .label { background-color: $bg-color-light; }
}
