.top-of-page-banner {
  .body-container { height: auto; } // needs to be auto to avoid shaky scrolling from sticky.js
  &.empty-state-dashboard {
    #sticky-wrapper, .body-container { height: 100% !important; } // needs to be 100% when the empty state and top of banner are visible to show background image
  }
  .jumbotron.top-of-page-banner {
    left: 0;
    line-height: 1.3;
    @include transition(left .15s linear);
    &.nav-slide {
      @include media-breakpoint-down(md) { @include rem(left, 200px); }
    }
    &.has-ribbon {
      @include media-breakpoint-down(xs) {
        @include rem(padding-right, $spacer-base);
        @include rem(padding-left, $spacer-base);
      }
      @include media-breakpoint-up(sm) {
        @include rem(padding-right, $spacer-double);
        @include rem(padding-left, $spacer-double);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .is-sticky {
      .site-nav, .site-navbar { position: fixed; }
    }
    .site-nav, .site-navbar { position: absolute; }
  }
}
