-# The following gets rendered by DropZone for each file that is dropped/added
#tpl.invisible.d-none
  .dz-preview.row.align-items-center
    .col-2
      -# For now, images are removed. Leaving this comment here
      -# in the event we decide we want snapshots.
      -#%img.img.img-fluid{"data-dz-thumbnail" => ""}/

      -# Next steps:
      -# When / if zip packages get added, we should use javascript
      -# to check file extension. If .zip, use 'file-archive-o'
      -# when spreadsheet, use 'file-text-o'
      = ui.nfg :icon, 'file-text-o 3x', :muted
    .col-10
      %p.mb-0
        %span{"data-dz-name" => ""}
        %small.text-muted.mr-2
          (
          %span{"data-dz-size" => ""}>
          )
        %span{ data: { dz_remove_link_container: '' } }

      .media.align-items-center.mt-1
        .media-body
          .progress.progress-sm
            .progress-bar{"data-dz-uploadprogress" => "", :style => "width:0%;"}
        .ml-2
          .dz-success-mark
            %i.fa.fa-fw.fa-check.text-success
          .dz-error-mark
            %i.fa.fa-fw.fa-times.text-danger
      %p.mb-0.text-danger.font-weight-bold{"data-dz-errormessage" => ""}




-# Original code reference, to be removed:
  / #tpl.invisible.d-none
  /   .dz-preview.row.align-items-center
  /     .col-2
  /       %img.img.img-fluid{"data-dz-thumbnail" => ""}/
  /     .col-10
  /       %p.mb-0
  /         %span{"data-dz-name" => ""}
  /         %small.text-muted.mr-2
  /           (
  /           %span{"data-dz-size" => ""}>
  /           )
  /       .media.align-items-center.mt-1
  /         .media-body
  /           .progress.progress-sm
  /             .progress-bar{"data-dz-uploadprogress" => "", :style => "width:0%;"}
  /         .ml-2
  /           .dz-success-mark
  /             %i.fa.fa-fw.fa-check.text-success
  /           .dz-error-mark
  /             %i.fa.fa-fw.fa-times.text-danger
  /       %p.mb-0.text-danger.font-weight-bold{"data-dz-errormessage" => ""}

