// Base styles
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  @include rem(width, $avatar-base-size * 2);
  @include rem(height, $avatar-base-size * 2);
  @include rem(font-size, $font-size-base);
  font-weight: $font-weight-medium;
  line-height: 1;
  text-align: center;
  color: $avatar-text !important;
  text-transform: uppercase;
  background-color: $avatar-bg;
  @include border-radius($avatar-border-radius);
  overflow: hidden;
  #{$icon} { color: inherit; }
}
a.avatar {
  opacity: 1;
  @include transition(opacity .2s ease-in-out);
  @include hover { opacity: 0.7; }
}

// Sizes
.avatar-xs {
  @include rem(width, $avatar-base-size);
  @include rem(height, $avatar-base-size);
  @include rem(font-size, 10px);
}
.avatar-sm {
  @include rem(width, $avatar-base-size * 1.5);
  @include rem(height, $avatar-base-size * 1.5);
  @include rem(font-size, $font-size-sm);
}
.avatar-md {
  @include rem(width, $avatar-base-size * 2);
  @include rem(height, $avatar-base-size * 2);
}
@include media-breakpoint-up(xl) {
  .avatar-lg {
    @include rem(width, $avatar-base-size * 4);
    @include rem(height, $avatar-base-size * 4);
    @include rem(font-size, $font-size-h2-lg);
  }
  .avatar-xl {
    @include rem(width, $avatar-base-size * 6);
    @include rem(height, $avatar-base-size * 6);
    @include rem(font-size, $font-size-h1-lg);
  }
}
