// CSS Code Source: https://codepen.io/eode9/pen/twkKm

$mobile-banner-line-height: 30px;
$mobile-banner-vertical-position: 5px;
$mobile-banner-horizontal-position: 80px;

$banner-line-height: 30px;
$banner-vertical-position: 20px;
$banner-horizontal-position: 70px;

.corner-ribbon{
  @include rem(width, 200px);
  position: absolute;
  text-align: center;
  @include rem(font-size, $font-size-xs);
  font-weight: $font-weight-bold;

  @include media-breakpoint-down(sm) {
    @include rem(line-height, $mobile-banner-line-height);
  }

  @include media-breakpoint-up(sm) {
    @include rem(line-height, $banner-line-height);
  }


  &.shadow{
    @include vendor-prefix((box-shadow: 0 0 4px rgba(0,0,0,.2)), webkit moz);
  }

  &.top-left{
    @include media-breakpoint-down(sm) {
      @include rem(top, $mobile-banner-vertical-position);
      @include rem(left, -$mobile-banner-horizontal-position);
    }

    @include media-breakpoint-up(sm) {
      @include rem(top, $banner-vertical-position);
      @include rem(left, -$banner-horizontal-position);
    }

    @include transform(rotate(-45deg));
  }

  &.top-right{

    @include media-breakpoint-down(sm) {
      @include rem(top, $mobile-banner-vertical-position);
      @include rem(right, -$mobile-banner-horizontal-position);
    }

    @include media-breakpoint-up(sm) {
      @include rem(top, $banner-vertical-position);
      @include rem(right, -$banner-horizontal-position);
    }

    left: auto;
    @include transform(rotate(45deg));
  }

  &.bottom-left{
    @include media-breakpoint-down(sm) {
      @include rem(bottom, $mobile-banner-vertical-position);
      @include rem(left, -$mobile-banner-horizontal-position);
    }

    @include media-breakpoint-up(sm) {
      @include rem(bottom, $banner-vertical-position);
      @include rem(left, -$banner-horizontal-position);
    }
    top: auto;
    @include transform(rotate(45deg));
  }

  &.bottom-right{
    @include media-breakpoint-down(sm) {
      @include rem(right, -$mobile-banner-horizontal-position);
      @include rem(bottom, $mobile-banner-vertical-position);
    }

    @include media-breakpoint-up(sm) {
      @include rem(right, -$banner-horizontal-position);
      @include rem(bottom, $banner-vertical-position);
    }

    top: auto;
    left: auto;
    @include transform(rotate(-45deg));
  }
}
