

.responsive-iframe-container {
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    z-index:1;
    top:0;
    left: 0;
    right:0;
    bottom: 0;

  }
}

.responsive-iframe{
  min-height: 400px;
  position: relative;
  z-index: 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  border: none;

  // Zoom CSS attributes have been moved to javascript for relative calculations on page load
  // This is due to the preview size iframe being different in different environments
  // Requiring a custom zoom level based on the iframe width relative to the page.
  
  // See:
  // app/assets/javascripts/admin/bootstrap4/iframe_preview.coffee

  // width: ceil(100% * (1 / 0.4));  
  // -ms-zoom: 0.4;
  // -moz-transform: scale(0.4);
  // -o-transform: scale(0.4);
  // -webkit-transform: scale(0.4);
  
  &.in{
    border: 1px solid #fff;
  }
}
