// Font sizes
.font-size-base { @include rem(font-size, $font-size-base !important); }
.font-size-xs { @include rem(font-size, $font-size-xs !important); }
.font-size-sm { @include rem(font-size, $font-size-sm !important); }
.font-size-lg { @include rem(font-size, $font-size-lg !important); }
.font-size-xl { @include rem(font-size, $font-size-xl !important); }


// Line heights
.line-height-1 { line-height: 1 !important; }


// Default p styles
p, .p {
  @include rem(font-size, $font-size-sm);
  line-height: 1.3;
  &.small, small {
    @include rem(font-size, $font-size-xs);
    line-height: 1;
  }
}


// Adds a background divider to word
.text-divider {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: $border-width solid $border-color-primary;
    content: '';
    z-index: 0;
  }
  .text-center, .btn-center { z-index: 10; }
  .text-center {
    position: relative;
    text-align: center;
    line-height: 1;
    span {
      display: inline-block;
      @include rem(padding, $spacer-quarter $spacer-half);
      @include rem(font-size, $font-size-xs);
      background-color: $bg-color-primary;
      border: $border-width solid $border-color-primary;
      @include border-radius(100px);
    }
  }
  .btn-center {
    position: absolute;
    top: -18px;
    left: 50%;
    .btn {
      position: relative;
      left: -50%;
    }
  }
}

// Basic p/ol/ul styles for long content areas (for now, only on task detail description, pdf layout, and mailings edit page)
.reset-body-text {
  @include rem(font-size, $font-size-p);
  ul, ol {
    margin-bottom: 0;
    margin-left: 0;
    @include rem(padding-left, $spacer-base-half);
    @include rem(font-size, $font-size-p);
    li {
      line-height: 1.3;
      + li { @include rem(margin-top, $spacer-quarter); }
      span[style*="inline-block"] { vertical-align: text-top; } // used to adjust for line-height on inline-block elements inside list items
    }
  }
  p, ul, ol {
    + p, + ul, + ol { @include rem(margin-top, $spacer-half); }
  }
  code, pre { font-size: $font-size-sm; }
}
