@import "font-awesome";
@import "../variables";
@import "../nfg_theme/mixins/*";
@import "../mixins";
@import "../nfg_theme/color_variations/*";
@import "../nfg_theme/type";
@import "bootstrap-4_0_0-alpha_2/reboot";
@import "../reboot";
@import "bootstrap-4_0_0-alpha_2/type";
@import "../type";
@import "bootstrap4_source_patches/bootstrap-4_0_0-alpha_5/grid"; // patched
@import "../grid";
@import "bootstrap-4_0_0-alpha_2/forms";
@import "../forms";
@import "bootstrap-4_0_0-alpha_2/buttons";
@import "../buttons";
@import "bootstrap-4_0_0-alpha_2/animation";
@import "bootstrap-4_0_0-alpha_2/dropdown";
@import "../dropdown";
@import "bootstrap-4_0_0-alpha_2/button-group";
@import "../button-group";
@import "bootstrap-4_0_0-alpha_2/custom-forms";
@import "../custom-forms";
@import "bootstrap-4_0_0-alpha_2/navbar";
@import "../navbar";
@import "bootstrap-4_0_0-alpha_2/alert";
@import "../alert";
@import "bootstrap-4_0_0-alpha_2/media";
@import "../media";
@import "bootstrap-4_0_0-alpha_2/close";
@import "../close";
@import "bootstrap-4_0_0-alpha_2/modal";
@import "../modal";
@import "bootstrap-4_0_0-alpha_2/utilities";
@import "../utilities";
@import "bootstrap-4_0_0-alpha_2/utilities-spacing";
@import "../utilities-spacing";
@import "bootstrap-4_0_0-alpha_2/utilities-responsive";
@import "bootstrap4_source_patches/bootstrap-4_0_0-alpha_5/utilities/flex"; // new flex alignment
@import "bootstrap-4_0_0-alpha_2/print";
@import "../print";
@import "../features/document_editing/*";
@import "../vendor/intercom";
@import "../vendor/turbolinks";

// Legacy browser support
@import "../legacy_browser_support/flexbox_tweener/application";
@import "../legacy_browser_support/internet_explorer/application"; // ONLY fixes where modernizr can't detect browser support
@import "../legacy_browser_support/preserve3d/application";


html, body { height: 100% !important; } // positions redactor editor correctly on larger screens
body { overflow: visible; }

.page {
  position: relative;
  background-color: $white;
  border: 1px solid $border-color-primary;
  page-break-after: always; // Always insert page break after this element
  page-break-inside: avoid; // Don't break my page content up browser
  @media print {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  &:before {
    position: absolute;
    width: auto;
    height: auto;
    border: 2px dashed $border-color-primary;
    content: '';
    z-index: 0;
    @media print { display: none; }
  }
}
.page-margin {
  width: 100%;
  height: 100%;
}
.page-content {
  width: 100%;
  height: 100%;
  .redactor-editor, .redactor-box { background: transparent; }
  .redactor-editor {
    border: none;
    padding: 0;
  }
  blockquote {
    margin-left: 1.6em !important;
    font-size: inherit;
    font-style: italic;
    color: inherit;
  }
  a {
    color: #15c; // Clear out orange link colors to default blue
    text-decoration: underline;
    @include hover-focus-active {
      color: #15c;
      text-decoration: none;
    }
  }
}
.page-margin-text {
  position: absolute;
  top: -26px;
  right: 0;
}
