// Nav items break media objects; specifically used in the top nav
// for both IE10 and IE11
.nav-item {
  .media {
    display: table !important;
    table-layout: fixed;
    width: 100%;
  }
  .media,
  .media-body { zoom: 1; }
  .media-body { flex: none; }
  .media-left,
  .media-right,
  .media-body {
    display: table-cell;
    vertical-align: top;
  }
  .media-middle { vertical-align: middle; }
  .media-bottom { vertical-align: bottom; }
}
