@each $color in $primary-colors-list  {
  .#{nth($color, 1)} ~ .ui-datepicker {
    .ui-datepicker-header {
      .ui-datepicker-prev, .ui-datepicker-next {
        color: nth($color, 2);
        &:hover, &:active, &:focus {
          color: $white;
          background-color: nth($color, 2);
        }
      }
    }
    .ui-datepicker-calendar {
      tbody td a {
        &.ui-state-highlight {
          color: $white;
          background-color: nth($color, 2);
        }
        &.ui-state-active, &:hover, &:active, &:focus {
          color: $white;
          background-color: nth($color, 2);
        }
      }
    }
    .ui-datepicker-buttonpane {
      button { color: nth($color, 2); }
    }
  }
}