@each $color in $primary-colors-list  {
  .#{nth($color, 1)} {
    .datepicker, .timepicker {
      [data-action^='select'],
      [data-action^='picker'],
      .prev,
      .next,
      .timepicker-picker a.btn {
        &:hover, &:active, &.active {
          background-color: nth($color, 2);
        }
      }
      .today.active {
        &:hover, &:active { background-color: nth($color, 2); }
      }
    }
    .datepicker {
      .prev, .next { color: nth($color, 2); }
    }
    .timepicker-picker td a { color: nth($color, 2); }
    .picker-switch.accordion-toggle {
      a {
        color: nth($color, 2);
        &:hover, &:active {
          color: $white !important;
          background-color: nth($color, 2);
        }
      }
    }
  }
}
