@each $color in $primary-colors-list  {
  .#{nth($color, 1)} {
    .select2-container--default {
      &.select2-container--focus .select2-selection--multiple { border-color: nth($color, 2); }
      &.select2-container--open {
        .select2-selection--single {
          .select2-selection__rendered { color: $font-color-secondary; }
        }
      }
      .select2-selection--single {
        &:hover .select2-selection__rendered { color: $font-color-secondary; }
        .select2-selection__rendered { color: nth($color, 2); }
      }
      .select2-selection--multiple {
        .select2-selection__rendered {
          .select2-selection__choice {
            color: nth($color, 2);
            &:hover, &:active { color: $font-color-secondary; }
          }
        }
        .select2-selection__choice__remove { color: nth($color, 2);  }
      }
    }
    .has-danger {
      .select2-container--default {
        .select2-selection--single .select2-selection__rendered,
        .select2-selection--multiple .select2-selection__rendered {
          color: $red-primary;
        }
      }
    }
    .select2-selection__rendered .select2-selection__clear:before { color: nth($color, 2); }
  }
  .#{nth($color, 1)} ~ .select2-container--default {
    .select2-search--dropdown {
      .select2-search__field:focus { border-color: nth($color, 2); }
    }
  }
}
