-# Once the code is converted and everything can use NFG_UI; put these on targeted pages
= javascript_include_tag 'nfg_ui/application'
= stylesheet_link_tag 'nfg_ui/network_for_good/admin/application'