//
// Base styles
//

.alert {
  position: relative;
  @include rem(margin-bottom, $spacer-base);
  @include rem(padding, $alert-padding);
  #{$icon} { color: $font-color-primary; }
  .label {
    color: $white;
    background-color: $font-color-primary;
  }
  .btn-primary #{$icon} { color: $white; }
}
.alert-link,
.alert a { font-weight: $alert-link-font-weight; }


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  @include rem(padding-right, ($alert-padding + $spacer-base));

  // Adjust close link position
  .close {
    position: absolute;
    @include rem(top, $spacer-half);
    @include rem(right, $spacer-half);
    @include rem(font-size, $font-size-base);
    border: none;
    text-shadow: none;
    opacity: 1;
    outline: none;
    @include hover-focus { opacity: 1; }
  }
}

// Alerts used inline forms
.alert-form-inline {
  position: relative;
  @include rem(margin-top, $spacer-half);
  margin-bottom: 0;
  @include rem(padding, $spacer-half);
  &:before, &:after {
    position: absolute;
    bottom: 100%;
    left: $alert-arrow-width * 2;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
  }
  &:before {
    margin-left: -$alert-arrow-width - 1px;
    border-width: $alert-arrow-width + 1px;
  }
  &:after {
    margin-left: -$alert-arrow-width;
    border-width: $alert-arrow-width;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  a { color: $brand-success; }
  &:before { border-bottom-color: $alert-success-border; }
  &:after { border-bottom-color: $alert-success-bg; }
}
.alert-info {
  a { color: $brand-info; }
  &:before { border-bottom-color: $alert-info-border; }
  &:after { border-bottom-color: $alert-info-bg; }
}
.alert-warning {
  a { color: $brand-warning; }
  &:before { border-bottom-color: $alert-warning-border; }
  &:after { border-bottom-color: $alert-warning-bg; }
}
.alert-danger, .alert-error {
  a { color: $brand-danger; }
  &:before { border-bottom-color: $alert-danger-border; }
  &:after { border-bottom-color: $alert-danger-bg; }
}
.alert-gray, .alert-notice {
  @include alert-variant($bg-color-secondary, $gray, $font-color-primary);
  &:before { border-bottom-color: $gray; }
  &:after { border-bottom-color: $bg-color-secondary; }
}
.alert-tip {
  background-color: $bg-color-primary;
  border: 1px dashed $border-color-primary;
}

// Absolute Positioning Alerts
.alert[data-position-absolute='true'] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: $zindex-modal + 1;
  @include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.2));
}
