// Prevent double borders when buttons are next to each other
.btn-group {
  &:empty { display: none; }
  .btn-primary + .btn-primary,
  .btn-primary + .btn-group,
  .btn-group + .btn-primary {
    margin-left: 0;
  }
}
.btn-group {
  .btn-group + .btn-group {
    @include rem(margin-left, $spacer-quarter);
  }
}


// Proper spacing between button elements
.btn + .btn,
.btn + .btn-group,
.btn + .btn-toolbar,
.btn-group + .btn,
.btn-group + .btn-group,
.btn-group + .btn-toolbar,
.btn-toolbar + .btn,
.btn-toolbar + .btn-group,
.btn-toolbar + .btn-toolbar {
  @include rem(margin-left, $spacer-quarter);
}

// Prevent double borders when buttons are next to each other
.btn-group, .btn-toolbar {
  .btn-primary + .btn-primary {
    margin-left: 0;
    border-left: solid $input-btn-border-width darken($btn-primary-border, 8%);
  }
  .btn-secondary + .btn-primary,
  .btn-primary + .btn-secondary {
    margin-left: 0;
  }
}
.btn-primary + .btn-group {
  .btn-primary {
    margin-left: 0;
    border-left: solid $input-btn-border-width darken($btn-primary-border, 8%);
  }
}

// Equal spaced button group on smaller devices
.btn-group-flex {
  @include media-breakpoint-down(xs) {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include align-content(flext-start);
    > .btn {
      @include flex-grow(1);
      @include flex-shrink(1);
      @include flex-basis(auto);
      ~ .btn { @include rem(margin-left, $spacer-quarter); }
    }
    > .btn:nth-child(1):nth-last-child(2),
    > .btn:nth-child(2):nth-last-child(1) {
      @include flex-basis(50%);
    }
    > .btn:nth-child(1):nth-last-child(3),
    > .btn:nth-child(2):nth-last-child(2),
    > .btn:nth-child(3):nth-last-child(1) {
      @include flex-basis(33.3333%);
    }
    > .btn:nth-child(1):nth-last-child(4),
    > .btn:nth-child(2):nth-last-child(3),
    > .btn:nth-child(3):nth-last-child(2),
    > .btn:nth-child(4):nth-last-child(1) {
      @include flex-basis(25%);
    }
    > .btn-flex-full-width {
      @include rem(margin-top, $spacer-quarter);
      margin-left: 0 !important;
      @include flex-basis(100%);
    }
  }
}

// Buttons on quick add modal
.btn-group-quick-add {
  .btn-quick-add {
    @include rem(padding, $spacer-base $spacer-quarter);
    width: 33.3333333%;
    background-color: transparent;
    @include transition(background-color .2s ease-in-out);
    &:nth-child(1n) { border-left: $border-width solid $border-color-primary; }
    @include media-breakpoint-down(sm) {
      &:first-child { border-left: none; }
    }
    @include media-breakpoint-up(sm) {
      &:nth-child(3n+1) { border-left: none; }
      &:nth-child(1n+4) { border-top: $border-width solid $border-color-primary; }
    }
    @include hover-focus { background-color: $bg-color-primary; }
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  margin-left: 0;
  > .btn,
  > .btn-group,
  > .btn-toolbar,
  > .input-group {
    &:first-child { margin-left: 0; }
  }
}
.btn-group > .btn:first-child:last-child { border-radius: $btn-border-radius !important; }
.btn-group > .btn-group:first-child:not(:last-child) {
  > .btn:last-child,
  > .dropdown-toggle { @include border-right-radius(0); }
}


// //
// // Split button dropdowns
// //

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  @include rem(padding-right, $btn-padding-x);
  @include rem(padding-left, $btn-padding-x);
}
.btn-group > .btn-lg + .dropdown-toggle {
  @include rem(padding-right, $btn-padding-x-lg);
  @include rem(padding-left, $btn-padding-x-lg);
}

// The clickable button for toggling the menu
// Remove the gradient and set the same inset shadow as the :active state
.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}
