.site-navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
  @include transition(left .2s ease-in-out);
  @include media-breakpoint-down(md) {
    bottom: 0;
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    top: 0;
    @include rem(left, 200px);
  }
}

//
// Brand/project name
//

.navbar-brand {
  @include rem(padding, 18px $spacer-base);
  margin-right: 0;
  @include rem(font-size, $font-size-xs);
  font-weight: $font-weight-medium;
  line-height: 1;
}


.navbar-divider {
  min-height: $spacer-double;
  padding: 0;
  margin: 0;
  overflow: hidden;
  &::before { content: ''; }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.


// Custom override for
.navbar-toggleable {
  &-lg {
    @include media-breakpoint-up(xl) { display: block !important; }
  }
}


// Navigation
//
// Custom navbar navigation built on the base `.nav` styles.

.navbar-nav {
  @include clearfix();
  .nav-item {
    position: relative;
    @include rem(font-size, $font-size-xs);
    font-weight: $font-weight-medium;
    line-height: 1;
    @include media-breakpoint-down(md) { width: 20%; }
    .nav-alert {
      position: absolute;
      @include rem(top, -4px);
      @include rem(right, -4px);
      @include rem(width, 8px);
      @include rem(height, 8px);
      background-color: $label-primary-bg;
      @include border-radius(50%);
      box-shadow: 0 0 0 2px rgba(255,255,255,1);
      &.nav-alert-danger { background-color: $label-danger-bg; }
    }
  }

  .nav-link {
    outline: none !important;
    @include transition(background-color .2s ease-in-out);
    @include media-breakpoint-down(sm) { @include rem(padding, $spacer-half); }
    @include media-breakpoint-up(md) { @include rem(padding, 18px $spacer-base); }
    @include hover-focus { background-color: $bg-color-primary; }
    &.active { background-color: $bg-color-primary; }
    &.disabled {
      cursor: $cursor-disabled;
      pointer-events: none;
      opacity: .4;
    }
    &.dropdown-toggle {
      @include media-breakpoint-down(md) {
        + .dropdown-menu {
          top: auto;
          bottom: 100%;
          margin-bottom: 2px;
        }
      }
    }
    &.has-label {
      @include media-breakpoint-up(lg) {
        @include rem(padding-top, 15px);
        @include rem(height, $spacer-double);
      }
    }
    .nav-text {
      &.visible {
        @include media-breakpoint-up(lg) { display: inline-block; }
      }
      @include media-breakpoint-down(sm) {
        display: block;
        @include rem(margin-top, 2px);
        font-weight: $font-weight-medium;
        @include rem(font-size, 10px);
      }
      @include media-breakpoint-up(md) { @include rem(margin-left, $spacer-quarter); }
      @include media-breakpoint-up(lg) { display: none; }
    }
    + .nav-link { margin-left: 0; }
  }

  .nav-item + .nav-item {
    margin-left: 0;
    border-left: $border-width solid $border-color-primary;
  }
  .hidden-lg-up + .nav-item {
    @include media-breakpoint-up(lg) { border-left: none; }
  }
}


// Dark links against a light background
.navbar-light {
  background-color: $navbar-light-bg;
  @include media-breakpoint-down(md) { border-top: $border-width solid $navbar-light-border-color; }
  @include media-breakpoint-up(lg) { border-bottom: $border-width solid $navbar-light-border-color; }
  .navbar-divider { background-color: $border-color-primary; }
}


.email-navbar {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-top: none;
  border-bottom: $border-width solid $navbar-light-border-color;
  z-index: $zindex-navbar-fixed;
  @include media-breakpoint-down(md) { position: absolute; }
  @include media-breakpoint-up(lg) { position: fixed; }
  .nav-item {
    border-left: $border-width solid $border-color-primary;
    @include media-breakpoint-down(md) { width: auto; }
  }
  .nav-link {
    @include rem(padding, 18px $spacer-half);
    .nav-text {
      @include media-breakpoint-down(sm) { font-size: inherit; }
    }
  }
}
