// HTML5 display definitions
// ==========================================================================

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//
audio,
canvas,
progress,
video {
  max-width:100%;
}

// Links
// ==========================================================================
a {
  &:active, &:hover, &:focus {
    outline: none !important;
  }
}

// Text-level semantics
// ==========================================================================

//
// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
//

abbr[title] {
  border: none;
  text-decoration: none;
}

//
// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
//

b,
strong {
  font-weight: $font-weight-medium;
}
