//
// Reset HTML, body, and more
//

html { height: 100%; }

body {
  height: 100%;
  @include rem(font-size, $font-size-base);
  font-smooth: always;
  @include vendor-prefix((font-smoothing: antialiased), webkit moz);
  text-rendering: optimizeLegibility;
  @include media-breakpoint-down(md) {
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

//
// Typography
//

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-bottom: 0;
  &.disabled { opacity: .4; }
}


//
// Forms
//

label {
  // Allow labels to use `margin` for spacing.
  @include rem(margin-bottom, $spacer-quarter);
}

// Fixes default positioning issues
div { position: relative; }
