//**** ALIGN **** //
  .valign-top { vertical-align: top; }
  .valign-middle { vertical-align: middle; }
  .valign-bottom { vertical-align: bottom; }


//**** BACKGROUNDS ****//
  // currently in utilities_background.scss


//**** BORDERS ****//

  // Borders
  .border-a { border: 1px solid $border-color-primary; }
  .border-t { border-top: 1px solid $border-color-primary; }
  .border-r { border-right: 1px solid $border-color-primary; }
  .border-b { border-bottom: 1px solid $border-color-primary; }
  .border-l { border-left: 1px solid $border-color-primary; }
  .border-style-dashed { border-style: dashed; }
  .border-b-none { border-bottom: none; }

  // Divider
  .divider {
    display: block;
    width: 100%;
    height: 1px;
    z-index: 1;
    position: relative;
    background-color: $border-color-primary;
  }

  // Box Shadows
  .box-shadow-sm { @include box-shadow(0 0 5px transparentize($black, 0.7)); }
  .box-shadow-md { @include box-shadow(0 0 30px transparentize($black, 0.93)); }
  .box-shadow-lg { @include box-shadow(0 0 50px 0 transparentize($black, 0.9)); }


//**** CLEARFIX ****//
  // .clearfix {
  //   @include clearfix();
  // }


//**** DISPLAY ****//
  // .center-block {
  //   @include center-block();
  // }
  .hide { display: none !important; }
  .display-inline { position: relative; display: inline !important; }
  .display-inline-block { position: relative; display: inline-block !important; }
  .display-block { display: block !important; }
  .overflow-hidden { overflow: hidden; }
  .overflow-visible { overflow: visible; }


//**** FLEX ****//
  .display-flex { @include flexbox(); }
  .flex-direction-column { @include flex-direction(column); }
  .flex-wrap { @include flex-wrap(wrap); }
  .flex-nowrap { @include flex-wrap(nowrap); }
  .flex-space-between { @include justify-content(space-between); }
  .flex-align-items-center { @include align-items(center); }
  .flex-justify-content-start { @include justify-content(flex-start); }
  .flex-grow-0 { @include flex-grow(0); }
  .flex-grow-1 { @include flex-grow(1); }
  .flex-shrink-0 { @include flex-shrink(0); }
  .flex-basis-auto { @include flex-basis(auto); }

  // Ordering helper classes are specific to bulk action / filter bar on listing pages for now
  .flex-xs-order-first { @include media-breakpoint-down(xs) { @include order(0); } }
  .flex-xs-order-second { @include media-breakpoint-down(xs) { @include order(1); } }
  .flex-xs-order-third { @include media-breakpoint-down(xs) { @include order(2); } }
  .flex-xs-order-fourth { @include media-breakpoint-down(xs) { @include order(3); } }


//**** FLOAT ****//
  // @each $breakpoint in map-keys($grid-breakpoints) {
  //   @include media-breakpoint-up($breakpoint) {
  //     .pull-#{$breakpoint}-left {
  //       @include pull-left();
  //     }
  //     .pull-#{$breakpoint}-right {
  //       @include pull-right();
  //     }
  //     .pull-#{$breakpoint}-none {
  //       float: none !important;
  //     }
  //   }
  // }


//**** POSITION ****//
  .pos-a-t-l, .pos-f-t-l {
    top: 0;
    left: 0;
  }
  .pos-a-t-r, .pos-f-t-r {
    top: 0;
    right: 0;
  }
  .pos-a-t-l, .pos-a-t-r { position: absolute !important; }
  .pos-f-t-l, .pos-f-t-r { position: fixed; }
  .pos-a-c {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .z-index-0 { z-index: 0; }
  .z-index-10 { z-index: 10; }
  .z-index-20 { z-index: 20; }
  .z-index-navbar-fixed { z-index: $zindex-navbar-fixed; }


//**** SCREENREADERS ****//
  // .sr-only {
  //   @include sr-only();
  // }
  // .sr-only-focusable {
  //   @include sr-only-focusable();
  // }
  .sr-hidden { speak: none; }


//**** SIZING ****//
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .full-width-up-#{$breakpoint} { width: 100%; }
    }
    @include media-breakpoint-down($breakpoint) {
      .full-width-down-#{$breakpoint} { width: 100%; }
    }
  }
  .full-width { width: 100%; }
  .width-auto { width: auto !important; }
  .w-100 { width: 100% !important; }
  .h-100 { height: 100% !important; }


//**** SPACING ****//
  // currently in utilities_spacing.scss


//**** TEXT ****//
  // Alignment
  // .text-justify        { text-align: justify !important; }
  // .text-nowrap         { white-space: nowrap !important; }
  // .text-truncate       { @include text-truncate; }
  .text-break-words { white-space: normal !important; }
  .text-wordwrap { word-break: break-word !important; }

  // // Responsive alignment
  // @each $breakpoint in map-keys($grid-breakpoints) {
  //   @include media-breakpoint-up($breakpoint) {
  //     .text-#{$breakpoint}-left   { text-align: left !important; }
  //     .text-#{$breakpoint}-right  { text-align: right !important; }
  //     .text-#{$breakpoint}-center { text-align: center !important; }
  //   }
  // }

  // // Transformation
  // .text-lowercase      { text-transform: lowercase !important; }
  // .text-uppercase      { text-transform: uppercase !important; }
  // .text-capitalize     { text-transform: capitalize !important; }

  // Weight and italics
  .font-weight-light   { font-weight: $font-weight-light !important; }
  .font-weight-normal  { font-weight: $font-weight-normal !important; }
  .font-weight-medium  { font-weight: $font-weight-medium !important; }
  .font-weight-bold    { font-weight: $font-weight-bold !important; }
  .font-italic         { font-style: italic; }

  // Contextual colors
  // @include text-emphasis-variant('.text-primary', $brand-primary);
  // @include text-emphasis-variant('.text-success', $brand-success);
  // @include text-emphasis-variant('.text-info', $brand-info);
  // @include text-emphasis-variant('.text-warning', $brand-warning);
  // @include text-emphasis-variant('.text-danger', $brand-danger);
  .text-inherit { color: inherit !important; }
  @include text-emphasis-variant('.text-dark-gray', $font-color-primary);
  @include text-emphasis-variant('.text-muted', $font-color-secondary);
  @include text-emphasis-variant('.text-light', $font-color-tertiary);
  @include text-emphasis-variant('.text-white', $white);
  .text-muted a { color: inherit; }

  // For when text-muted is overwritten multiple times and isn't delivering our thematic text-muted
  // (this happens occasionally on areas like the importer for DMS)
  @include text-emphasis-variant('.text-medium', $text-muted);

  // Misc
  // .text-hide {
  //   @include text-hide();
  // }

  // Anchor offset should be added to an empty div and not added to a parent div
  // It is used to offset an anchor link manually 
  // since linking to an anchored ID puts the element at top 0,
  // it is hidden by the absolute positioned top nav bar.
  // 
  // Example in HAML:
  // .form-group
  //   #edit_full_address.anchor-offset  <-- *HERE*
  //   = f.fields_for :home_address do |home_address_fields|
  //     = f.input :etc...
  
  .anchor-offset{
    position: absolute;
    top: -75px;
    visibility: hidden;
  }

  // the rest are currently in nfg_theme/type.scss
//**** VISIBILITY ****//
  // .invisible {
  //   visibility: hidden !important;
  // }
