// Flex variation - Flexbox Tweener
//
// Custom styles for additional flex alignment options.

@if $enable-flex {
  @each $breakpoint in map-keys($grid-breakpoints) {
    // Flex column reordering
    @include media-breakpoint-up($breakpoint) {
      .flex-#{$breakpoint}-first { -ms-flex-order: -1; }
      .flex-#{$breakpoint}-last { -ms-flex-order: 1; }
      .flex-#{$breakpoint}-unordered { -ms-flex-order: 0; }
    }

    // Alignment for every item
    @include media-breakpoint-up($breakpoint) {
      .flex-items-#{$breakpoint}-top { -ms-flex-align: start; }
      .flex-items-#{$breakpoint}-middle { -ms-flex-align: center; }
      .flex-items-#{$breakpoint}-bottom { -ms-flex-align: end; }
    }

    // Alignment per item
    @include media-breakpoint-up($breakpoint) {
      .flex-#{$breakpoint}-top   { -ms-flex-item-align: start; }
      .flex-#{$breakpoint}-middle { -ms-flex-item-align: center; }
      .flex-#{$breakpoint}-bottom { -ms-flex-item-align: end; }
    }

    // Horizontal alignment of item
    @include media-breakpoint-up($breakpoint) {
      .flex-items-#{$breakpoint}-left { -ms-flex-pack: start; }
      .flex-items-#{$breakpoint}-center { -ms-flex-pack: center; }
      .flex-items-#{$breakpoint}-right { -ms-flex-pack: end; }
      .flex-items-#{$breakpoint}-around { -ms-flex-pack: distribute; }
      .flex-items-#{$breakpoint}-between { -ms-flex-pack: justify; }
    }
  }
}
