- bootstrap_component = "label label-pill"

- component_id = nil if local_assigns[:component_id].nil?
- component_class = nil if local_assigns[:component_class].nil?
- data = nil if local_assigns[:data].nil?

-# Required
-# Label options are :success, :warning, :danger, :info
- label_status = nil if local_assigns[:label_status].nil?
- label_text = nil if local_assigns[:label_text].nil?

-# The associated icon is automatically implemented in the label
- case label_status
- when :success
  - label_icon = "fa-check-circle"
- when :warning
  - label_icon = "fa-warning"
- when :danger
  - label_icon = "fa-exclamation-circle"
- when :info
  - label_icon = "fa-info-circle"

- load_label_conditions = label_status.present? && label_text.present?

- if load_label_conditions
  %div{ id: component_id, class: [bootstrap_component, "label-#{label_status.to_s}", component_class].join(' '), data: data }
    %i{ class: "fa #{label_icon}" }
    = label_text
