- @headers.each_with_index do |header_name, index|
  .col-importer{ id: [index + 1, header_name].join("_"), data: { id: index + 1 } }
    -# temporary placement of the ignore column checkbox
    %p
      -# I think this value should be the selected field name? or should it be the header_name initially and then updated?
      %label.c-input.c-checkbox{ data: { describe: "activate-ignore-column" } }
        %input{ :name => [index + 1, header_name].join("_"), :type => "checkbox", :value => header_name }
        %span.c-indicator
        Ignore Column

    .col-importer-contents
      .row
        .col-xs-12
          -# TODO: if automatically mapped, we need some kind of visual flourish to indicate "mapped for ya!", perhaps a flag is passed to a hidden field for each column and JS can read it?
          -# TODO: The select should be broken into option groups... like personal contact details, organization contact details, etc.

          = id.select(header_name, options_for_select(@all_valid_columns.map { |c| [c.humanize.titleize, c] }), include_blank: true)
          = id.hidden_field index

      .row
        .col-xs-12
          = header_name
      .row
        .col-xs-12
          = index_alphabetize[index]
      .row
        .col-xs-12
          - (0..(@first_x_rows.length - 1)).each do |i|
            .row
              .col-xs-12
                =@first_x_rows[i][header_name]
