.col-importer{ id: ["col_importer", header_name].join("_"), data: { id: header_name_counter + 1 } }
  .card
    = render 'nfg_csv_importer/imports/self_importer/importer_column_header.html.haml', header_name: header_name
    .card-block.card-block-importer-index{ data: { column: index_alphabetize[header_name_counter] } }
      = index_alphabetize[header_name_counter]

    .list-group.list-group-flush
      - (0..(@first_x_rows.length - 1)).each do |i|
        .list-group-item
          =@first_x_rows[i][header_name]
