.p-2.bg-dark
  .row.align-items-center.justify-content-between
    .col.py-1
      = ui.nfg :typeface, :muted, caption: onboarder_presenter.onboarder_title, class: 'mb-0'

    .col-auto
      - if first_step
        = ui.nfg :button, :link, href: nfg_csv_importer.imports_path, body: t('nfg_csv_importer.onboarding.title_bar.buttons.exit'), class: 'text-muted'

      - else
        = ui.nfg :button, :link, href: '#', id: 'save_and_exit', body: t('nfg_csv_importer.onboarding.title_bar.buttons.save_and_exit'), class: 'text-muted'
