
#nfg_csv_importer_modal.modal.interstitial.fade{"aria-hidden" => "true", "aria-labelledby" => "interstitial_modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .media
          .media-left
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-thumbs-up.fa-stack-1x
        .media-body
          %h4#interstitial_modal.media-heading
            Great News
        / %h4#interstitial_modal.modal-title Great News!
      .modal-body
        We just saved you some time by automatically mapping
        %strong
          12 column headers
        for you.

        .small.m-t-double
          %i
            As good as we are at this, you should still double check our work :)
      .modal-footer
        %a.btn.btn-lg.btn-white-bg{"data-dismiss" => "modal", :type => "button"} Great, Let's Go


/ .interstitial-backdrop.interstitial-blue
/ .interstitial
/   .interstitial-content
/     .container-fluid
/       .row
/         .col-md-10.col-md-push-2.col-xs-12.col-xs-push-0
/           .media
/             .media-left
/               %span.fa-stack
/                 %i.fa.fa-circle.fa-stack-2x
/                 %i.fa.fa-thumbs-up.fa-stack-1x
/             .media-body
/               %h4.media-heading
/                 Great News
/               We just saved you some time by automatically mapping
/               %strong
/                 12 column headers
/               for you.

/               .small.m-t-double
/                 %i
/                   As good as we are at this, you should still double check our work :)

/               %a.btn.btn-lg.btn-white-bg{ data: { dismiss: "interstitial" } }
/                 Great, Let's Go
/                 %i.fa.fa-chevron-right.m-l-quarter
