// Grid layout to fix bs4 card flexbox layouts
.slat-grid {
  &.card-deck {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;

    .card-wrapper {
      display: -ms-flexbox;
      -ms-flex: 0 1 auto;

      .card {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex: 1 0 auto;

        .card-block {
          display: -ms-flexbox;
          -ms-flex: 1 0 auto;
          -ms-flex-direction: column;
        }
      }
    }
  }
}
