- step = local_assigns[:step]
- onboarder_presenter = local_assigns[:onboarder_presenter]

= onboarder_presenter.get_started_information_step_image(step: step)

= onboarder_presenter.get_started_information_step(step: step)