.card{
  border: none;
}

.card-header{
  @include rem(padding, ($spacer-base * 0.75));
  background-color:#efefef;
  border-top: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  border-left: solid 1px #dfdfdf;
  border-bottom: none;

  h2,
  h3,
  h4,
  h5,
  h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.text-muted,
     .text-muted,
    s.text-muted{
      color: #c4c4c4 !important;
    }
  }

  .form-group{
    @include rem(margin-bottom, ($spacer-base * 0.75));
  }
}

.card-block-importer-index{
  @include rem(font-size, 10px);
  line-height:1;
  @include rem(padding-top, 2px);
  @include rem(padding-bottom, 2px);
  background-color: $brand-primary;
  text-align: center;
  font-weight: $font-weight-bold;
  color: $white;
  border-left: solid 1px $brand-primary;
  border-right: solid 1px $brand-primary;
}
