.card{
  border: solid 1px transparent;
  transition: border-color 1s ease-out;
}

.card-header{
  @include rem(padding, ($spacer-base * 0.75));
  background-color:#efefef;
  border-top: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  border-left: solid 1px #dfdfdf;
  border-bottom: none;

  transition: all .15s ease-in-out;

  h2,
  h3,
  h4,
  h5,
  h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.text-muted,
     .text-muted,
    s.text-muted{
      color: #c4c4c4 !important;
    }
  }

  .form-group{
    @include rem(margin-bottom, ($spacer-base * 0.75));
  }
}

.card-disabled{
  cursor: $cursor-disabled;

  .card-header{
    background-color: #575757;
    color: #bebebe;
    border-color: #575757;
  }

  .card-block-importer-index{
    background-color: #353535;
    border-left: solid 1px #353535;
    border-right: solid 1px #353535;
  }

  .c-select.disabled,
  .c-select:disabled{
    color: #959595;
    background-color: #727272;
    border-color: #727272;
    cursor: $cursor-disabled;
  }
}


.card-block-importer-index{
  @include rem(font-size, 10px);
  line-height:1;
  @include rem(padding-top, 2px);
  @include rem(padding-bottom, 2px);
  background-color: $brand-primary;
  text-align: center;
  font-weight: $font-weight-bold;
  color: $white;
  border-left: solid 1px $brand-primary;
  border-right: solid 1px $brand-primary;
}

@keyframes card-highlight {
  0%   { border: solid 1px transparent; }
  50%  { border: solid 1px $brand-success; }
  100% { border: solid 1px transparent; }
}

.card-highlight{
  border: solid 1px $brand-success;
  // animation:  card-highlight 1s ease-out forwards;
  transition: border-color 1s ease-out;
}
