.c-input{
  &:hover .text-muted{
    @include transition(color .15s ease-in-out);
    color: $font-color-primary !important;
  }
}

.card-disabled{
  .c-input .text-muted{ color: $body-font-color !important; }
}

.blue .c-checkbox input:checked ~ .c-indicator:before { color: $brand-danger !important; }

.c-select{ width: 100%; }

.c-select-unselected{ color: #e7e7e7; }
