.list-group{
  border-bottom: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  border-left: solid 1px #dfdfdf;
}

.list-group-flush{
  .list-group-item{
    border-width: 1px 1px;
  }
}

.list-group-item{
  border-bottom: solid 1px #eeeeee;

  line-height: 1;
  @include rem(height, 54px);
  @include rem(padding, ($spacer-base * 0.75));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:nth-child(even){
    background-color: #fafafa;
  }
}

.card-disabled{
  .list-group-flush{
    .list-group{
      border-bottom: solid 1px #575757;
      border-right: solid 1px #575757;
      border-left: solid 1px #575757;
      background-color: #717171 !important;
      color: #9e9e9e;
    }

    .list-group-item{
      border-bottom: solid 1px #656565;

      &:nth-child(even){
        background-color: #676767;
      }
    }
  }
}
