.list-group{
  border-bottom: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  border-left: solid 1px #dfdfdf;
  background-color: #f7f7f7;
}

.list-group-flush{
  .list-group-item{
    border-width: 1px 1px;
  }
}

.list-group-item{
  border-bottom: solid 1px #eeeeee;

  line-height: 1;
  @include rem(height, 54px);
  @include rem(padding, ($spacer-base * 0.75));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:nth-child(even){
    background-color: #fafafa;
  }
}
