.display-4{
  @include rem(font-size, 28px);
  color: #fff;
  font-weight: $font-weight-light;
  text-transform: none;
  @include rem(margin-bottom, 20px);

  .fa{
    @include rem(margin-bottom, 8px);
  }

  a{
    color: inherit;
  }
}

.font-size-10{
  @include rem(font-size, 10px);
}

.text-sub-headline{
  @include rem(font-size, 10px);
  @include rem(letter-spacing, 1px);
  // color: $gray;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.text-light-gray{
  color: $gray-light;
}

a.text-glow{
  color:#fff !important;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  padding: 4px;
  display:inline-block;
  @include rem(font-size, 13px);

  @include hover-focus{
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 1);

  }
}
