.container-fluid.container-flush.container-error
  .row.m-y-base
    .col-xs-12
      %h2.text-xs-center
        We found 5 issues you’ll need to address

  / Duplicate column error is always here. This full width alert is only used by duplicate columns error.
  .row
    .col-xs-12
      .alert.alert-red
        .media
          .media-left
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-exclamation.fa-stack-1x
          .media-body
            %h3.media-heading.m-b-quarter
              You can’t have multiple columns with the same mapped header.
              Time to
              %strong
                ignore
              or
              %strong
                adjust
              your columns.

            %h3.media-heading.m-b-base
              Click a column header &ndash; e.g.
              %a.btn.btn-danger-outline.btn-sm{ href: "javascript:;", style: "pointer-events: none;" }
                Address
              &ndash;
              to navigate right to that column.


            .row

              - import.duplicated_field_mappings.each do |field, columns|

                .col-md-4.col-xs-12.m-b-quarter
                  %p.line-height-normal.m-b-half
                    %small.text-muted
                      %i
                        Both column headers are currently:
                    %br
                    %strong
                      "#{field.humanize.titleize}"

                  - columns.each do |column|


                    %a.btn.btn-danger-outline.m-b-half.m-l-0.m-r-quarter.btn-horizontal-scroll{ href: "#card_header_#{ column.downcase.tr(" ", "_") }" }
                      %small.text-muted
                        Your Original Header:
                      %br
                      %span.linked-text
                        = column


                  / .media
                  /   .media-left
                  /     - columns.each do |column|
                  /       %a.btn.btn-danger-outline.m-b-half.m-l-0.m-r-quarter{ href: "javascript:;" }
                  /         = column
                  /   .media-body.text-muted
                  /     = field.humanize.titleize

  / these individual / donation errors are always presented in a 6 col fashion. donation column errors get the fa-dollar icon, user column errors get the fa-user icon
  .row
    .col-md-6
      .alert.alert-red
        .media
          .media-left
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-exclamation.fa-stack-1x
          .media-body
            %h3.media-heading
              Individuals must have a
              %strong
                first name
              or
              %strong
                full name
            .small.m-t-quarter
              =link_to "", data: { toggle: "modal", target: "#nfg_csv_importer_modal" }, class: "alert-link", remote: true do
                Missing this data? Recommended next steps
                %i.fa.fa-caret-right.fa-fw

    .col-md-6
      .alert.alert-red
        .media
          .media-left
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-exclamation.fa-stack-1x
          .media-body
            %h3.media-heading
              Donations must have a
              %strong
                donation date
            .small.m-t-quarter
              =link_to "", data: { toggle: "modal", target: "#nfg_csv_importer_modal" }, class: "alert-link", remote: true do
                Missing this data? Recommended next steps
                %i.fa.fa-caret-right.fa-fw



    .col-md-6
      .alert.alert-red
        .media
          .media-left
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-exclamation.fa-stack-1x
          .media-body
            %h3.media-heading
              Donations must have a
              %strong
                payment method
            .small.m-t-quarter
              =link_to "", data: { toggle: "modal", target: "#nfg_csv_importer_modal" }, class: "alert-link", remote: true do
                Missing this data? Recommended next steps
                %i.fa.fa-caret-right.fa-fw

    .col-md-6
      .alert.alert-red
        .media
          .media-left
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-exclamation.fa-stack-1x
          .media-body
            %h3.media-heading
              Donations must have a
              %strong
                donation amount
            .small.m-t-quarter
              =link_to "", data: { toggle: "modal", target: "#nfg_csv_importer_modal" }, class: "alert-link", remote: true do
                Missing this data? Recommended next steps
                %i.fa.fa-caret-right.fa-fw

