- unless fields.empty?
  %h3.subtitle
    = header

  - fields.each do |field|
    - description = @import.column_descriptions[field]
    .field-description
      %strong
        = field
      - if description.present?
        = " - #{description}"