- import = nil if local_assigns[:import].nil?

#importer_header_bar.container-fluid
  .row.row-importer-header
    .col-xs-12
      %h1
        = link_to @import.import_file.url do
          %i.fa.fa-paperclip
          = @import.import_file_name
      = link_to imports_path, class: "import-header-link" do
        %i.fa.fa-chevron-left.m-r-quarter
        Back to Imports

