- mapped_column = nil if local_assigns[:mapped_column].nil?

- card_classes = "card"

- case mapped_column.status
- when :unmapped
  - card_data = { mapped: "false" }
- when :active
  - card_classes += " card-active"
- when :mapped
  - card_classes += " card-mapped"
- when :ignored
  - card_classes += " card-disabled"

.col-importer
  %div{ class: card_classes, data: card_data }
    = render 'nfg_csv_importer/imports/importer_column_header', mapped_column: mapped_column
    .card-block.card-block-importer-index
      A
    .list-group.list-group-flush
      .list-group-item
        John Doe
      .list-group-item
        Jane Doe
      .list-group-item
        Alberto Rodriguez
      .list-group-item
        Connie Albertson
      .list-group-item
        Alexander Goschef
