.jumbotron.jumbotron-fluid.jumbotron-clouds
  = render 'nfg_csv_importer/imports/import_definitions', language_scope: language_scope, import_definitions: import_definitions, import_type_column_structure_classes: import_type_column_structure_classes, start_button_options: start_button_options