#imports
  %h1
    Imports
  .panel.panel-default
    .panel-body
      #import_links
        - ImportDefinition.import_types.each do |import_type|
          = link_to "Import #{import_type.to_s.pluralize.titleize}",NfgCsvImporter::Engine.routes.url_helpers.new_import_path(import_type: import_type.to_s), class: "btn btn-primary pull-right margin-left"
      - if @imports.empty?
        There are no Imports
      -else
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th.first Admin
                %th No. of Records
                %th No. of Records with errors
                %th Completed at
                %th.last Status
            = render :partial => 'import', :collection => @imports